.vs
*.aps
*.vcxproj.user
setup.exe
/Source/RASecServer/Build
/Source/RASecServer/Output
/Source/RASecServer/Setup/*.msi
/Source/RASecServer/Setup/Debug
/Source/RASecServer/Setup/Release
/Source/RASecClient/Build
/Source/RASecClient/Output
/Source/RASecClient/Setup/*.msi
/Source/RASecClient/Setup/Debug
/Source/RASecClient/Setup/Release

/Source/RASecServer/rasec.db
/Source/RASecHome/Build
/Source/RASecHome/Output
/Source/RASecCore/Build
/Source/RASecCore/Output
/Source/RASecClient/Setup/RASecClientActions/Build
/Source/RASecClient/Setup/RASecClientActions/Output/Debug
/Source/RASecClientMonitor/Build
/Source/RASecClientMonitor/Output
/Source/RASecClient/Setup/RASecClientActions/Output/Release
/Source/RASecClient/Setup/rasecclient.log
/Source/RASecHome/rasechome.db
/Source/RASecServer/rasec - Copy.db
/Source/RASecHome/Setup/RASecHomeSetup/RASecHomeSetup.msi
/Source/RASecHome/Setup/RASecHomeSetup/Debug
/Source/RASecServer/rasec
